---
import SiteSearch from './SiteSearch.jsx';
import { getCollection } from 'astro:content';

const searchPosts = await getCollection('blog');
---

<nav>
  <div class="nav-inner">

    <div class="logo-group">
      <a href="/" class="logo">Patrick Britton</a>
      <span class="tagline">&nbsp;my portfolio</span>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/projects">Dashboards</a>
      <a href="/blog">Blog</a>
      <a href="https://github.com/patbritton" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="/about">About</a>
      <SiteSearch client:load posts={searchPosts} />
    </div>

  </div>
</nav>
